/* App.css */

body {
  background: rgb(0, 1, 44);
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
  color: white; /* Text color to match the gradient background */
}

.container {
  padding: 2rem;
  padding-left: 10%;
  padding-right: 10%;
}

.uploader-generator-box {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid blueviolet;
  overflow: hidden;
  background: rgb(4, 5, 57);
}

.add-new-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -40px;
}
