/* App.css */

body {
  background: rgb(0, 1, 44);
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth;  
}
h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 1px;
}

p {
  color: #dadada;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.img-dec {
  display: flex;
  flex-direction: row;
}
.container {
  padding: 2rem;
  padding-left: 10%;
  padding-right: 10%;
}

.uploader-generator-box {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid #8a2be2;
  overflow: hidden;
  background: rgb(4, 5, 57);
}

.add-new-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -40px;
}

.current-box {
  background-color: #32174c;
}
